/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-cr-pricing-table-block {
  // border: 1px solid #000;
}

.flex-item {
  border: 1px solid red;
  padding: 1rem;
  min-width: 100px !important;
}